<!-- job-management-actions.component.html: Botones reutilizables de abrir, borrar y restaurar jobs. -->
<div class="job-actions" [class.is-compact]="compact">
    @if (showOpenResult && openResultRoute !== null) {
    <a class="job-action-link" [routerLink]="openResultRoute" [queryParams]="openResultQueryParams">
        {{ openResultLabel }}
    </a>
    }

    @if (canDelete) {
    <button class="job-action-button delete-action" type="button" [disabled]="isBusy" (click)="deleteRequested.emit()">
        {{ isBusy ? ('common.actions.working' | transloco) : deleteLabel }}
    </button>
    }

    @if (canRestore) {
    <button class="job-action-button restore-action" type="button" [disabled]="isBusy"
        (click)="restoreRequested.emit()">
        {{ isBusy ? ('common.actions.working' | transloco) : restoreLabel }}
    </button>
    }
</div>
